<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLInk="/home">Notebook</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="{{home}}" (click)="makeActive('home')"><a routerLink="/home">Home</a></li>
      <li class="{{subject}}" (click)="makeActive('subject')"><a routerLink="/subject">Subject</a></li>
      <li class="{{learn}}" (click)="makeActive('learn')"><a routerLink="/learn">Learn & Revise</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
